@font-face {
    font-family: 'TTTogether';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MangoByeolbyeol';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoByeolbyeol.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "Pretendard-Regular";
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
/* header css !! */
/* 헤드라인 */
/* 반응형으로 변경 06.28 선일 header 작업 */
#logo {
    width: 200px;
    position: absolute;
    left: 5%;
    top : 10px;
}
#head {
/*  display: grid;
    grid-template-columns: 5fr 5fr 3.5fr; */
    height: 90px;
    background-color: white;
    border-bottom: 1px solid #cccccc !important;
}
#search {
    position: absolute;
    top : 25px;
    left : 35%;
}
#search_chang {
    display: none;
}
.ui-autocomplete {
    width: 300px; /* 원하는 너비로 설정 */
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    height: 500px;
}
.ui-menu-item div.ui-state-hover,
.ui-menu-item div.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: skyblue;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
  border:none;
}
.search {
    background: white;
    border-radius: 20px;
/*  border-color: #B8E9FF;
    border-width: 2px; */
    
    font-weight: bold;
    padding-left: 25px;
    
    height: 50px;
    min-width: 18vw;
}
#inputBox {
    font-size: 15px;
}
#search-btn {
    position : absolute;
    top : 25px;
    left : 53%; 
}
#search-btn > input {
    background: #f7feff;
    border-radius: 10px;
    width : 65px;
    border: 2px solid skyblue;
    color : skyblue;
    
    height: 45px;
}
/* #search-btn > img {
    width: 20px;
    display: inline;
} */
#search-btn > input:hover {
    box-shadow: 1px 1px 2px gray;
}
#login-main {
    position: absolute;
    top : 35px;
    right : 3%;
}
#login-btn a {
    text-decoration: none;
    color: black;
    padding-right: 30px;
    font-size: max(1vw);
    
    display: inline;
}
/* 유저 로그인시 나오는 문구 */
#user_ment {
    font-size: max(1vw);
    font-weight: bold;
    padding-right: 30px;
}
#login-btn a:hover {
    color: #B8E9FF;
}
.login-icon img {
    width: 20px;
}
.login-icon {
    display: inline-block;
}
/* 회원 정보 슬라이드 css 선일작업 */
#side_menu {
    height: 100%;
    width: 400px;
    background-color: white;
    
    /* 절대 좌표로 고정되게 움직임 */
    position: fixed;
    top: 0;
    right: 0px;
    display: none;
    /* overlay보다 인덱스 앞으로 */
    z-index: 30;
    
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
}
/* overlay는 웹페이지 아무곳이나 누르면 사이드바 사라지게 하는 설정 */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    
    /* 백그라운드 어둡게 지정해주기 on / off */
    /* background: rgba(0, 0, 0, 0.7); */
    /* overlay보다 인덱스 앞으로 */
    z-index: 29;
    display: none;
}
#side_menu_1 {
    height: 6.75vw;
    width: 100%;
}
#side_menu_1 img{
    height: 12.5vw;
    width: 100%;
    opacity: 0.7;
    object-fit: cover;
}
/* 회원 프로필 사진 */
#member_icon {
    margin-top: -20px;
    margin: auto;
    
    overflow: hidden;
    
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    
    cursor:pointer;
    
    position: relative;
}
#side_menu > ul {
    text-align: center;
}
#member_icon > img {
    position: absolute;
    left: 0px;
    width: 120px;
}
#best_game {
    width: 270px;
    margin-top: 5px;
}
#best_game_img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
}
#best_game_img3 {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
}
#best_game_img2 {
    position: absolute;
    bottom: 0px;
    left: 20%;
    
    max-width: 270px;
}
#member_ment {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 225px;
    left: 85px;
}
#member_name {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2vw;
}
#main-head {
    position: sticky;
    
    top: 0px;
    height: auto;
    background: white !important;
    z-index: 2;
}
/* 회원 정보 슬라이드 css 종료 선일작업 */
/* 헤더 탭 코드 */
#header-tap {
    /* 06.26 수정 */
    width: 100%;
    border-bottom: 1px solid #E9E9E9 !important;
    
    height: 56px;   
}
#header-tap-list {
    display: flex;
/*  -webkit-box-align: center; */
    align-items: center;
    justify-content: flex-start;
    column-gap: 80px;
    height: 56px;
    padding: 0 100px; 
}
#header-tap-list li {
    list-style: none;   
    position: relative;
}
/*font-family: 'TTTogether';*/
#header-tap-list li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
#header-tap-list li a:hover {
    color: skyblue !important;  
    font-weight: bold;
}
#header-tap-list li ul {    
    top: 26px;
    left: -60px;
    position: absolute; 
}
.side-menu li:hover{
    background: #f2f2f2;
} 
/* 06.23 추가 */
.cate-box {
    width : 190px;
    background: white; 
    height: 56px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
    font-size: 20px;
}
.cate-box:not(.cate-box8) {
    border-bottom: 0.5px solid #cccccc !important;  
}
.cate-box0{
    border-top: 1px solid black;    
}
.cate-box8 {
    border-bottom: 1px solid black;     
}
.cate2{
    width : 190px;
    background: white;
    height: 56px;
    border-right: 1px solid black;
    left: 249px;
        
}
.cate2 a{
    font-size: 15px !important;
}       
.f-2 {  
    top: -82px;
    display: none;
}
.k-2 {  
    top: -138px;
    display: none;
}
.w-2 {
    top: -194px;    
    display: none;
}
.s-2 {
    top: -250px;
    display: none;  
}
.a-4 {
    top: -306px;
    display: none;
}
.c-2 {
    top: -362px;
    display: none;
}
.t-2 {
    top: -418px;
    display: none;
}
.p-2 {
    top: -474px;
    display: none;
}
.f-1:hover .f-2{
    display: block;
}
.k-1:hover .k-2{
    display: block;
}
.w-1:hover .w-2{
    display: block;
}
.s-1:hover .s-2{
    display: block;
}
.a-3:hover .a-4{
    display: block;
}
.c-1:hover .c-2{
    display: block;
}
.t-1:hover .t-2{
    display: block;
}
.p-1:hover .p-2{
    display: block;
}
.cate2:not(.c2-box10) {
    border-bottom: 0.5px solid #cccccc !important;  
}
.c2-box1{   
    border-top: 1px solid black;    
}
.c2-box10{  
    border-left: 1px solid black;       
    border-bottom: 1px solid black;     
}
/* 06.23 추가 */
.cate-box a {
    position: absolute;
    top: 16px;
    left: 30px; 
}
#tab-img {
    width: 24px;
} 
/* 상단메인배너 end */
/* header css !! end */
#main_image {
    float: left;
    width: 350px;
}
#main_image2 {
    margin-right: auto;
    margin-left: auto;
    
    width: 270px;
    float: left;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
}
#box {
    width: 1700px;
    height: 500px;
    margin: auto;
    margin-top: 200px;
    padding: 100px;
    
    border-radius: 30px;
    
    background: linear-gradient(112.22651009048627deg, rgba(64, 163, 255,1) 4.927083333333334%,rgba(0, 0, 0,1) 97.84374999999999%);
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
}
#title {
    text-align: center;
    font-size: 32px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 150px;
}
#center {
    float: left;
    background: white;
    width: 1100px;
    
    border-radius: 20px;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
}
#center2 {
    float: left;
    background: white;
    width: 1100px;
    height: 300px;
    
    border-radius: 20px;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
}
#search-victory {
    color: orange;
    font-size: 40px;
    font-weight: bold;
}
#search-victory2 {
    font-size: 15px;
}
#search_span {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    
    float: left;
    margin-left: 50px;
}
#search_span > span {
    font-size: 20px;
}
#search_span2 {
    width: 200px;
    margin: auto;
}
#search_span2 > img {
    width: 300px;
    margin-top: 30px;
}
#footer {
    width: 100%;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    background-color: #cccccc;
    position: absolute;
}
#footerlogo {
    width: 100px;
    height: 50px;
}
.footer1 {
    display: inline-block;
    width: 1300px;
}
.footer2 {
    display: inline-block;
    width: 200px;
    float: right;
}